@import '../../styles/variables';
@import '../../styles/mixins';

.hero-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;

  @include on-sm-and-down {
    flex-direction: column;
  }

  &__right-container {
    flex: 1;
    position: relative;
    height: 420px;
    display: flex;
    justify-content: center;

    @include on-sm-and-down {
      margin-bottom: 80px;
    }

    @include on-xs-only {
      height: 230px;
      margin-bottom: 50px;
    }

    .hero-section-img {
      width: 570px;
      @include on-xs-only {
        width: 310px;
      }
    }
  }

  &__left-container {
    flex: 1;
    margin-left: 50px;
    @include on-sm-and-down {
      width: 500px;
      margin-left: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    @include on-xs-only {
      width: 310px;
    }

    &__title {
      text-align: left;
      line-height: 1.2;

      @include on-sm-and-down {
        font-size: 28px;
        text-align: center;
        line-height: 1;
      }
    }

    &__content {
      text-align: left;
      max-width: 500px;

      @include on-sm-and-down {
        text-align: center;
      }

      @include on-xs-only {
        text-align: center;
        width: 100%;
      }
    }

    &__buttons {
      margin-top: 30px;
      width: 350px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.hero-section__bg {
  position: absolute;
  width: 480px;
  height: 300px;
  bottom: 0;
  right: 0;
  background-color: map-deep-get($colors, 'primary', 'base');
  z-index: -1;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 150px;
  box-shadow: 200px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
    400px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
    600px 0px 0px 0px map-deep-get($colors, 'primary', 'base');

  @include on-xs-only {
    width: 250px;
    height: 180px;
    right: 0;
    border-bottom-left-radius: 75px;
    box-shadow: 100px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
      200px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
      300px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
      400px 0px 0px 0px map-deep-get($colors, 'primary', 'base');
  }
}

.title-break {
  @include on-sm-and-down {
    display: none;
  }
}
