@import '../../styles/variables';
@import '../../styles/mixins';

.hero-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;

  @include on-sm-and-down {
    flex-direction: column;
  }

  @include on-xs-only {
    margin-top: -40px;
  }
}
