@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.full-button {
  margin-left: 50px;

  &__btn {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 960px) {
  .sm-button {
    padding-top: 31px;
    border-top: 1px solid white;
  }
}
