@import '../../styles/variables';
@import '../../styles/mixins';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: rgba(black, 0.5);

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 950px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    position: relative;

    @include on-sm-and-down {
      height: 700px;
      width: 600px;
    }

    @include on-xs-only {
      width: 310px;
      height: 400px;
    }

    &__text {
      color: map-deep-get($colors, 'primary', 'base');
      font-size: 20px;
      font-weight: bold;
    }

    .hero-section-img {
      width: 400px;

      @include on-sm-and-down {
        width: 250px;
      }
    }

    &__close-icon {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      transition: all 0.2s ease-out;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &:hover {
        background-color: map-deep-get($colors, 'grey', 'lighten-1');
      }

      &:hover path {
        transition: all 0.2s ease-out;
        fill: map-deep-get($colors, 'alert', 'base');
      }
    }
  }
}

.background {
  position: absolute;
  width: 450px;
  height: 350px;
  bottom: 0;
  left: -10px;
  background-color: map-deep-get($colors, 'primary', 'base');
  z-index: -1;
  border-bottom-right-radius: 35%;
  border-top-right-radius: 50%;

  @include on-sm-and-down {
    left: -25px;
  }

  @include on-xs-only {
    width: 250px;
    height: 200px;
    left: -10px;
  }
}

.tab-row {
  display: flex;
  margin-bottom: 60px;
  @include on-sm-and-down {
    display: none;
  }
}

.content-card {
  padding: 0 30px;
  margin-top: 50px;
  @include on-sm-and-down {
    padding-left: 0;
    margin-top: 20px;
  }
  @include on-xs-only {
    display: none;
  }
}
