@import '../../../styles/variables';
@import '../../../styles/mixins';

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 100px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;

    &__icons {
      position: absolute;
      bottom: 40px;
    }
  }

  .nav-menu--active {
    padding: 0 20px;
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    background: map-deep-get($colors, 'secondary', 'base');
    left: 0;
    transition: all 0.6s ease;
    z-index: 1;

    &__icons {
      position: absolute;
      bottom: 40px;
    }
  }
}
