@import '../../../../styles//variables';
@import '../../../../styles/mixins';

.active-card {
  width: 100%;
  position: relative;
  height: 435px;
  padding-left: 50px;
  z-index: 2;

  @include on-sm-and-down {
    width: 550px;
    padding-left: 0;
  }

  @include on-xs-only {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 250px;
  }

  &__full-size-img {
    position: relative;
    z-index: 2;
    @include on-sm-and-down {
      display: flex;
      justify-content: center;
      padding-left: 0;
    }
    @include on-xs-only {
      display: none;
    }
  }

  &__small-img {
    display: none;
    @include on-xs-only {
      display: block;
    }
  }

  &__bg {
    position: absolute;
    width: 450px;
    height: 350px;
    bottom: 0;
    left: 0;
    background-color: map-deep-get($colors, 'primary', 'base');
    z-index: -1;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 50%;
    box-shadow: -200px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
      -400px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
      -600px 0px 0px 0px map-deep-get($colors, 'primary', 'base');

    @include on-xs-only {
      width: 250px;
      height: 200px;
      left: 0;
      box-shadow: -100px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
        -200px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
        -300px 0px 0px 0px map-deep-get($colors, 'primary', 'base'),
        -400px 0px 0px 0px map-deep-get($colors, 'primary', 'base');
    }
  }
}
