@import '../../../../../../styles//variables';
@import '../../../../../../styles/mixins';

.card-element {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 250px;
  position: relative;
  color: map-deep-get($colors, 'grey', 'base');

  @include on-sm-and-down {
    width: 100%;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid map-deep-get($colors, 'grey', 'lighten-2');

    @include on-sm-and-down {
      padding: 15px 0;
    }
  }

  &:hover {
    color: map-deep-get($colors, 'alert', 'base');
  }

  &--active {
    color: map-deep-get($colors, 'secondary', 'base');

    &:before {
      content: '';
      position: absolute;
      border-bottom: solid 4px map-deep-get($colors, 'alert', 'base');
      width: 100%;
      bottom: 0;
      @include on-sm-and-down {
        width: 140px;
      }
    }
  }
}
