@import '../../../styles/variables';
@import '../../../styles/mixins';

.input-style {
  width: 300px;
  padding: 17px 20px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  position: relative;
}
